/* ===================== MENU ========================================================== */
:root {
  --main-color-grey: #202124;
  --main-color-purple: #845ec2;
  --main-color-blue: #00c9a7;
  --main-font: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  --menu-width: 42.5em; /* Width of menu */
  --items: 7; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: var(--main-font);
  background: linear-gradient(#141e30, #243b55);
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 30px;
  font-size: 16px;
}

nav {
  position: fixed;
  font-family: var(--main-font);
  width: var(--menu-width);
  display: flex;
  transform-style: preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px 20%;
  perspective: 2000px;
  flex-wrap: wrap;
  top: 1%;
}

nav .menu-item {
  color: white;
  font-weight: 600;
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 7.5em;
}

nav .menu-text,
nav .menu-text a {
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease-out;
  text-align: center;
}

nav .menu-text a:hover {
  color: var(--main-color-blue);
}

.logo {
  font-size: 20px;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  margin-top: 1%;
  margin-left: -500%;
  text-transform: uppercase;
  animation: lights 5s 750ms linear infinite;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0), 1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0), -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

/* ===================== ITEMS ======================================================================= */

header {
  position: fixed;
  top: 64px;
  right: 1vw;
  width: 15vw;
  height: 4vw;
}

/* ===================== DECK AND INVENTORY ========================================================== */

.content-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 20px !important;
  color: white;
  line-height: 10vh;
  letter-spacing: 4px;
}

.content {
  position: fixed;
  height: calc(99vh - 64px);
  top: 64px;
  width: 49.5vw;
  margin: 0 0.25vw;
  border-radius: 20px;
  background-color: #881422;
}

.back {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.3vw;
  height: 88%;
  width: 96%;
  overflow-y: scroll;
  border-radius: 1rem;
  border: 5px inset #A02838;
  border-right: none;
  background-color: #DD909A;
}

#deck {
  left: 0;
  margin-right: 0;
}

#inventory {
  right: 0;
  margin-left: 0;
}

/* ===================== CARD ========================================================== */

.card {
  display: inline-block;
  position: relative;
  width: 15vw;
  height: 20.8vw;
  cursor: pointer;
  z-index: 60;
}

.card-img {
  position: absolute;
  top: 13.5%;
  left: 3.5%;
  width: 82%;
  height: 84%;
  z-index: 90;
}

.card-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  z-index: 91;
}

.card-layout-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 92;
}

.card-type {
  position: absolute;
  top: 13.5%;
  left: 3.8%;
  width: 13%;
  height: 10%;
  z-index: 93;
}

.card-type-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
}

.card-name {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 4%;
  margin: 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff;
  font-size: 0.8vw;
  font-weight: bold;
  line-height: 0.8rem;
  text-transform: uppercase;
  letter-spacing: -0.06rem;
  word-spacing: 0.4rem;
  box-sizing: border-box;
  z-index: 95;
}

.card-level {
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 6%;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.3rem;
  z-index: 95;
}

/* ===================== CARD ATTRIBUTE ========================================================== */

.attribute {
  position: absolute;
  right: 0;
  width: 32%;
  height: 16%;
  z-index: 93;
}

.skill {
  position: absolute;
  width: 28%;
  height: 10%;
}

.card-attack {
  top: 15%;
}

.card-health {
  top: 30%;
}

.card-primary {
  top: 50%;
}

.card-secondary {
  top: 62%;
}

.card-tertiary {
  top: 74%;
}

.card-special {
  top: 86%;
}

.card-attribute-number {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0;
  margin: auto;
  padding-right: 10%;
  width: 64%;
  height: 50%;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  font-size: 1.4vw;
  text-align: center;
  line-height: 1.6vw;
  border-top-left-radius: 0.3vw;
  border-bottom-left-radius: 0.3vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 94;
}

.card-skill-number {
  height: 75%;
  width: 60%;
  line-height: 1.5vw;
}

.card-attribute-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 95;
}

.card-skill-icon {
  right: 2%;
  width: 48%;
}

/* ===================== SCROLL ======================================================================= */

.back::-webkit-scrollbar {
  width: 7px;
}

.back::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.back::-webkit-scrollbar-thumb {
  background: #33080D;
  border-radius: 1rem;
}

.back::-webkit-scrollbar-thumb:hover {
  background: #490B13;
}