:root 
{
	--main-color-grey: #202124;
	--main-color-purple: #845EC2;
	--main-color-blue: #00C9A7;
    --main-font: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
 
.navbar
{
    position: fixed;
    top: 0;
    background-color: var(--main-color-grey);
    letter-spacing: 4px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, var(--main-color-blue), var(--main-color-purple));
    border-image-slice: 1;
    width:100%;
}
 img{
	height: 200px;
	width: 150px;
 }
.menu:hover
{
	background-color: var(--main-color-blue);
	border: 0px solid var(--main-color-grey);
}
.active{
	background: var(--main-color-blue);
}

.box{
	display:inline-block;
	margin: 0 20;
	margin-right: 40px;
}
body{
	background-color: #845EC2;
}
 
.container-fluid{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}